doctype html
html lang="en" 
  head
    meta content=("text/html; charset=UTF-8") http-equiv="Content-Type"
    meta charset="utf-8"
    meta content="IE=edge" http-equiv="X-UA-Compatible"
    meta content="width=device-width, initial-scale=1" name="viewport"
    meta content="" name="description"
    meta content="" name="author"
    title Hello Pxblog!
    link href="#{static_path(@conn, "/css/app.css")}" rel="stylesheet"
  body
    .container
      header.header
        span.big-greeting Hi there! |> #{' '}
        span.greeting-url
          a href="https://vk.com/railscrusader"  vk.com/railscrusader
      p.alert.alert-info role="alert" = get_flash(@conn, :info)
      p.alert.alert-danger role="alert" = get_flash(@conn, :error)
      main role="main" 
        = render @view_module, @view_template, assigns
    /! /container
    script src="#{static_path(@conn, "/js/app.js")}" 
